*,
::after,
::before,
body,
#root {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  user-select: none;
}
.ball {
  transition: all 1s linear allow-discrete;
  transform: translateZ(0px);
}
