*,
::after,
::before,
body,
#root {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  user-select: none;
}
.ball {
  transition: all 1s linear allow-discrete;
  transform: translateZ(0px);
}
.board-container {
  margin: 0 50px;
}
.game-container {
  margin: auto;
  width: 60vw;
}
@media only screen and (max-width: 768px) {
  .board-container,
  .game-container {
    margin: 0px;
  }
  .game-container {
    width: 100vw;
  }
  .ball {
    transition: all 2s linear;
  }
}
